<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kinbin - New Column</title>
</head>
<body>
    <h1>New Column</h1>
    <form action="/add_column" method="get">
        <select name="column-type">
            <option value="start">Start</option>
            <option value="replenishment">Replenishment</option>
            <option value="work-stage">Work Stage</option>
            <option value="queue">Queue</option>
            <option value="end">End</option>
        </select>
        <input type="submit" value="Add">
    </form>
</body>
</html>