<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Kinbin</title>
</head>
<body>
    <h1>Kinbin Status</h1>
    <div id="kinbin-status">
        <p>Name: <span th:text="${name}">No name found</span></p>
        <p>Status: <span th:text="${status}">No status found</span></p>
        <p>Age: <span th:text="${age}">No age found</span></p>
        <p>Mood: <span th:text="${mood}">No mood found</span></p>
        <p>Weight: <span th:text="${weight}">No weight found</span> kg</p>
        <p>Energy: <span th:text="${energy}">No energy found</span> %</p>
        <p>Fortune: $ <span th:text="${fortune}">No fortune found</span></p>
    </div>
</body>
</html>