<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Kinbin</title>
</head>
<body>
    <h1>Kinbin Status</h1>
    <div id="kanban-table">
        <h2>Kanban Table</h2>
        <table>
            <tbody>
            <tr>
                <th>New</th>
                <th>In Analyst</th>
                <th>Ready</th>
                <th>In Progress</th>
                <th>Waiting</th>
                <th>Accepted</th>
                <th>Done</th>
            </tr>
            <tr>
                <td>
                    <ul>
                        <li>1</li>
                        <li>2</li>
                        <li>3</li>
                    </ul>
                </td>
                <td>
                    <ul>
                        <li>4</li>
                        <li>5</li>
                        <li>6</li>
                        <li>7</li>
                        <li>8</li>
                    </ul>
                </td>
                <td>
                    <ul>
                        <li>9</li>
                    </ul>
                </td>
                <td>
                    <ul>
                        <li>10</li>
                        <li>11</li>
                        <li>12</li>
                    </ul>
                </td>
                <td>
                    <ul>
                    </ul>
                </td>
                <td>
                    <ul>
                        <li>13</li>
                        <li>14</li>
                    </ul>
                </td>
                <td>
                    <ul>
                        <li>15</li>
                    </ul>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div id="kinbin-status">
        <h2>Kinbin Status</h2>
        <p>Mood: Neutral</p>
        <p>Fortune: 930$</p>
        <p>Energy: 80.2</p>
        <p>Weight: 20.0</p>
    </div>
</body>
</html>