<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Kinbin</title>
    <style>
        body {
            margin-left: 100px;
            margin-right: 100px;
        }

        h1 {
            text-align: center;
        }

        #buttons {
            text-align: center;
            margin-bottom: 40px;
        }

        #kinbin-status {
            float: left;
        }

        #board {
            display: inline-table;
            margin-left: 30px;
        }

        .column {
            display: inline-grid;
            padding-left: 30px;
        }
    </style>
</head>
<body>
    <h1>Kinbin's Adventure</h1>
    <div id="buttons">
        <button id="add-column" onclick="addColumn()">Add new column</button>
        <button id="add-card" onclick="addCard()">Add new card</button>
        <button id="pulse" onclick="pulse()">Pulse</button>
    </div>
    <div id="kinbin-status">
        <h2>Kinbin Status</h2>
        <p>Name: <span th:text="${name}">No name found</span></p>
        <p>Status: <span th:text="${status}">No status found</span></p>
        <p>Age: <span th:text="${age}">No age found</span></p>
        <p>Mood: <span th:text="${mood}">No mood found</span></p>
        <p>Weight: <span th:text="${weight}">No weight found</span> kg</p>
        <p>Energy: <span th:text="${energy}">No energy found</span> %</p>
        <p>Fortune: $ <span th:text="${fortune}">No fortune found</span></p>
    </div>
    <div id="board">
        <h2>Board</h2>
        <div class="column" th:each="column : ${columns}">
            <div>
                <p th:text="${column.name}">Column</p>
                <ul th:each="card : ${column.cards}">
                    <li th:text="${card.cardType}">1</li>
                </ul>
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
        function pulse(){
            $.get("/pulse", function(data, status){
                console.log(status);
                window.location.reload();
            });
        }

        function addCard(){
            window.location.assign("http://localhost:8080/add_card_form");
        }

        function addColumn(){
            window.location.assign("http://localhost:8080/add_column_form");
        }
    </script>
</body>
</html>